<header>
    <div class="navbar">
        <div class="logo">
            <a href="https://www.linkedin.com/in/jussmor" target="_blank" style="text-decoration:none; color:white;">JussMor</a>
        </div>
        <input type="checkbox" id="menu-toggle" class="menu-toggle"/>
        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav>
            <a href="/">Home</a>
            <a href="/insights/blog/">Archive</a>
            <a href="/about/">About</a>
            <a href="/feed/feed.xml">Feed</a>
        </nav>
    </div>
</header>