.mytitle {
  font-weight: 800;
  text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-size: 15vw;
}

.wrapFooter {
  transform-origin: center bottom 0px;  
  padding: 10px 0px 0px 0px;
  transform: translateY(-40px) scale(0.9);
}

.navFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navFooterItems {
  display: flex;
  text-align: center;
  list-style: none;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.LogoItems {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  width: 10vw;
  color: beige;
  cursor: pointer;
}

.Copyright {
  color: beige;
  font-size: 2vmax;
  padding-top: 5vh;
  display: flex;
}
.CopyrightChild {
  margin: auto;
}