
.logo {
    font-size: 6vh;
    font-weight: 800;
    border-bottom: 0.5px solid #000;
    color:var(--clr1);
    padding:20px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 99;
}

.logoWord {
    color: var(--clr5);
}



@media (max-width: 728px) {
    .logo {
        font-size: 5vh;
        font-weight: 800;
        border-bottom: 0.5px solid #000;
        color:var(--clr1);
        padding:3vw;
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 99;
    }
}
